*{
    text-align: center;
}
h1{
    color: rgb(8, 52, 133);
}
img{
    width: 300px;
}
table{
    border-collapse: collapse;
    width:60%;
    margin: 0 auto;
   
}
th,td{
    border: 1px solid  black;
    padding: 7px;
}
th:first-child,td:first-child{
    width: 90px;
}
th{
    background-color: rgb(8, 52, 133);
    color:white;
}
button{
    margin-top: 20px;
    width:150px;
    height: 40px;
    border-radius: 8px;
    color: white;
    background-color:rgb(8, 52, 133) ;
}
button:hover{
    background-color: azure;
    color: black;
    box-shadow: 0 10px 25px black;
}
.event{
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid black;
    box-shadow: none;
    background-color: white;
}
body{
    background-color: antiquewhite;
}
